body {
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height:25px;
	background-color:#feeae1;
	margin:0px;
	padding:0px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #E8A994;
}

a {
	text-decoration:none;
	color:#0003D4;
	letter-spacing:3px;
}

a:hover{
	text-decoration:none;
	color:#0003D4;
}

h1 { 
	font-size: 45pt;
	font-family: Lato, sans-serif;
	text-align: center;
	color:#0003D4;
 }

h2 {
	font-size: 10pt;
	font-family: Lato, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color:#0003D4;
}


.list-wrap{
	padding-left:0;
	font-size: 18px;
	list-style-type: none;
}

.col-md-5 {
	width: 370px;
	max-height: 570px;
	margin: auto;
	/*margin-top: 40px;*/
	overflow-y: auto;
	order: 1;
	padding-right: 35px;
}

.content-title {
	font-family: Lato, sans-serif;
	text-align: center;
	font-size: 21px;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-top: 5px;
	display: block;
	border-bottom: 2px solid #fff;
	padding-bottom: 12px;
	padding-top: 0px;
	margin-bottom: 12px;
	font-weight: 900;
}

.map-placeholder {
	border: black 1px solid;
	width: 800px;
	height: 570px;
 	margin: auto;
 	margin-top: 40px;
 	order: 2; 	
}

.site-title {
	margin: 10px;
	text-align: center;
	letter-spacing: 6px;
	font-family: 'Vidaloka', serif;
	line-height: 65px;
	display: block;
	margin-bottom: 20px;
	padding-top: 15px;
}

.site-description {
	text-align:center;
	letter-spacing:3px;
	margin:0px;
	margin-bottom:7px;
	display:block;
	margin-top:-10px;
	padding-bottom: 30px
	color:#0003D4;
	padding-bottom: 20px;
}

#about-nav-wrap {
	height: 0px;
	border-top: 20px solid #fff;
	border-bottom: 20px solid #fff;
	border-left: 20px solid #feeae1;
	border-right: 20px solid #feeae1;
	width: 100%;
	display: block;
	margin-bottom: 40px;
}

#about-nav {
	text-align:center;
	font-family: Lato, sans-serif;
	letter-spacing:15px;
	font-size:17px;
	font-weight: 900;
	position:relative;
	top:-12px;
	text-transform: uppercase;
}

.shops {
	font-size: 15px;
	display: block;
	letter-spacing: 4px;
	margin-top:2px;
	font-weight: 900;
	color: #000;
}

.donut-images {
	width: 100%;
	height: auto;
	padding-bottom: 25px
